{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>{{ post.title }} - Blog Details</title>
{% endblock %}
{% block banner_start %}
  <h1>{{post.title}}</h1>
  <h4><a class="nav-link" style="color:white" href="{% url 'index' %}">Home</a>{{post.title}}</h4>
{% endblock %}
{% block content %}
  <div class="single-recent-blog-post">
    <div class="thumb">
      {% if post.image_url %}
        <img class="img-fluid" src="{{ post.image_url }}" alt="{{ post.title }}">
      {% else %}
        <img class="img-fluid" src="{% static 'img/banner/blog.png' %}" alt="blog_img">
      {% endif %}
      <div class="details mt-20">
        <h3>{{ post.title }}</h3>
        <h5>{{ post.author }}</h5>
        <p>{{ post.published_at }}</p>
        <p>{{ post.text }}</p>
      </div>
      <br>
      <div>
        <ul class="thumb-info">
          <li><a href="#"><i class="ti-heart" style="color:#ff0000"></i>{{ post.likes_amount }}</a></li>
          <li><a href="#"><i class="ti-themify-favicon"></i>{{ post.comments | length }} Comments</a></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li><a href="#"><i class="ti-facebook"></i></a></li>
          <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
          <li><a href="#"><i class="ti-instagram"></i></a></li>
        </ul>
      </div>
      <br>
    </div>
    <div>
      <h3>{{ post.comments | length }} Comments</h3>
      <br>
      {% for comment in post.comments %}
        <p><strong>{{comment.author}}</strong></p>
        <p>{{comment.published_at}}</p>
        <p>{{comment.text}}</p>
        <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}
